@charset "UTF-8";
@import url(base.css);
/* Flex-Box UI */

*,*:before,*:after{-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body{height:100%;}
html{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
body{position:relative;background:#eee;color:#333;font:400 14px/1.42857143 -apple-system,BlinkMacSystemFont,'Segoe UI','Roboto','Oxygen-Sans','Ubuntu','Cantarell','Lucida Grande','Helvetica Neue Ultra Light','Helvetica Neue Interface M3',Helvetica,'Microsoft YaHei',FreeSans,Arimo,'Droid Sans','wenquanyi micro hei','Hiragino Sans GB','Hiragino Sans GB W3',Arial,sans-serif;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;user-select:none;}
a,button,.btn{-ms-touch-action:manipulation;-webkit-touch-action:manipulation;touch-action:manipulation;}
input,button,select,textarea{outline:none}
input,textarea{-webkit-user-select:auto;user-select:auto}
::-webkit-input-placeholder{color:#a3a3c0;text-shadow:#fff 0 1px 0}
.md-icon{vertical-align:middle;}

h2{margin:0;}
ul{margin:0;padding:0;list-style:none;}
p{margin:0;}

.page{position:relative;height:100%;width:100%;}
.flex{display:-webkit-box;display:-webkit-flex;display:flex;}
.flex-ver{-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;flex-direction:column;}
.flex-item,.flex-nav .nav-title,.flex-tab li,
.flex-search .input{-webkit-box-flex:1;-webkit-flex:1;flex:1;width:0%;}

.tool-bar{background:#fff;height:45px;line-height:45px;text-align:center;box-shadow:0 1px 3px rgba(0,0,0,.13);position:relative;z-index:1}
footer.tool-bar{box-shadow:0 0 3px rgba(0,0,0,.24);}
.cont-box{overflow:auto;background:#e2e2e2;width:100%;height:auto;-webkit-overflow-scrolling:touch;}

.f-icon{display:block;width:20px;height:20px;background:#31bbee;flex:none;}
.f-btn{border:0;width:50px;height:25px;text-align:center;background:#31bbee;margin:10px;line-height:25px;color:#fff;flex:none;}

/*导航*/
.flex-nav{height:44px;line-height:44px;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;}
.flex-nav .nav-title{text-align:center;line-height:1.2;}
.flex-nav .nav-title p{color:#aaa;font-size:12px;}

/* tab 栏 */
.flex-tab{width:100%;height:44px;line-height:44px;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.flex-tab li{position:relative;display:block;color:#777;font-size:16px;border:1px solid #ddd;border-left:none;}
.flex-tab li:last-child{border-right:none;}
.flex-tab li a{display:block;width:100%;height:100%;text-align:center;text-decoration:none;}
.flex-tab li .tab-title{display:block;width:100%;text-align:center;font-size:16px;color:#777;}
.flex-tab li.current .tab-title{color:#259ade;}

/* 搜索 */
.flex-search{-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;justify-content:space-between;background:#f1f1f1;border-bottom:1px solid #ccc;}
.flex-search .input{border:1px solid #aaa;margin-left:10px;padding:0;height:26px;}
.flex-search .input input{border:none;width:100%;height:100%;}
.flex-search span{display:block;flex:none;padding:0;padding-right:0;width:50px;text-align:center;}
.flex-search .f-icon{margin-left:10px;}

/* 列表 */
.flex-simple{-webkit-box-align:center;-webkit-align-items:center;align-items:center;background:#fff;border-bottom:1px solid #ccc;padding:10px 15px;}
.s-img{background:#31bbee;margin-right:10px;width:50px;height:50px;}
.s-tit{font-size:20px;font-weight:bold;}
.s-tit,.s-desc{line-height:1.2;}

/* 消息提示 */
.flex-info{-webkit-box-align:start;-webkit-align-items:flex-start;align-items:flex-start;background:#f2f2f2;border-bottom:1px solid #ddd;border-top:1px solid #ddd;margin:10px 0;padding:10px;}
.flex-info .f-icon{margin:0 15px 0 10px;}
.flex-info-center{-webkit-box-align:center;-webkit-align-items:center;align-items:center;}

/* 垂直居中 */
.flex-centerbox{width:100%;height:100%;background:#fafafa;-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;align-items:center;border-top:1px solid #ddd;border-bottom: 1px solid #ddd;padding:10px 0;margin:10px 0;}
.center-cont{display:block;background:#ddd;text-align:center;padding:20px;margin:10px;}







