body{background:#f5f5f5;color:rgba(40,46,64,1);font-size:14px;}
body,input{font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen,Ubuntu,Cantarell,'Open Sans','Helvetica Neue',sans-serif}

.btn{font-size:18px;}
.weui-btn_primary{background-color:#039be5;}
.weui-btn_primary:not(.weui-btn_disabled):active{background-color:#0289cc;}
.weui-vcode-btn{color:#039be5;}
.weui-msg{padding-top:16px;}
.weui-msg__icon-area{margin-bottom:24px;}
.weui-icon-success{color:#039be5;}
.weui-msg__desc{color:#757575;}
.weui-cell::before{border-top-width:0;}
.weui-cell+.weui-cell::before{border-top-width:1px;}
.weui-panel__ft{background:#fff;margin-bottom:12px;}
.weui-navbar{box-shadow:0 1px 3px rgba(0,0,0,.16);}
.weui-navbar:after{border:none;}
.weui-navbar__item{background:#fff!important;border-bottom:3px solid #fff;}
.weui-navbar__item:after{border-right:0;}
.weui-navbar__item.weui-bar__item--on{background:#fff!important;border-bottom:3px solid #039be5;color:#039be5!important;}
.wbo-navbar{position:relative;}
.wbo-footer{position:relative;}
.wbo-container{padding:0 0 8px;}
.wbo-cells{margin-top:8px;}
.clear{clear:both;}
.hide{display:none;}
.text-center{text-align:center;}

.wbo-cardldmore{position:absolute;z-index:1;left:0;right:0;background:#fff;margin:0 auto;padding:1.6em 0 2em;
width:auto;}

.container{padding:16px;}
.card{background:#fff;border-radius:4px;padding:16px;}

.findcp{position:relative;margin-bottom:32px;}
.findcp .inlabel{line-height:48px;position:absolute;left:16px;top:16px;color:rgba(68,74,89,1);font-weight:300;}
.findcp .inputbox{padding-left:64px;}
.findcp .inCarNum{background:transparent;border:1px solid #fff;width:100%;height:46px;color:#000;font-size:30px;line-height:46px;box-shadow:none;}
.findcp .carNums{position:absolute;z-index:-2;top:17px;left:81px;display:block;font-size:30px;line-height:48px;-webkit-transition:all .5s ease-out;-moz-transition:all .5s ease-out;transition:all .5s ease-out;}
.findcp .carNums.in{z-index:10;top:16px;left:16px;font-size:15px;line-height:16px;color:rgba(68,74,89,.40);}

.parking{background:#fff;margin-top:24px;display:none;}
.parking .oulabel{font-size:22px;line-height:32px;color:rgba(68,74,89,.64);font-weight:300;}
.parking .oulabel span{float:right;font-size:18px;padding:2px 0;color:rgba(68,74,89,.72);}

.parking .price{font-size:56px;line-height:1;padding:18px 0 16px;}

.wbouser{background:#039be5;color:#fff;padding:32px;height:88px;line-height:1;}
.wbouser .avatar{position:relative;float:left;display:block;background:#eee;margin-right:12px;border:2px solid #fff;border-radius:50%;width:80px;height:80px;box-shadow:0 1px 4px rgba(0,0,0,.32);}
.wbouser h2{margin:0 0 8px;padding-top:16px;font-size:27px;font-weight:300;}
.wbouser p{margin:0;font-size:18px;font-weight:300;color:rgba(255,255,255,.76);}
.binding{background-color:transparent;}
.binding p{text-align:center;color:#333;font-weight:400;}
.binding .avatar{float:none;margin:0 auto 16px;}

.wbo-list{box-shadow:0 1px 1px rgba(0,0,0,.08);}
.wbo-list a{padding:10px 15px;color:rgba(40,46,64,1);font-size:16px;}

.wboapp-card{display:block;background:#fff;border-radius:4px;margin-bottom:32px;padding:12px;text-align:left;box-shadow:0 1px 1px rgba(0,0,0,.16);text-decoration:none;}
.wboapp-card img{float:left;margin-right:12px;width:48px;height:48px;}
.wboapp-card .wboapp-body{height:48px;line-height:20px;}
.wboapp-card .wboapp-title{padding:4px 0;font-size:16px;color:#0289cc}
.wboapp-card .wboapp-info{font-size:12px;}
.wboapp-list{padding:8px 12px;}
.wboapp-list img{margin-right:8px;width:32px;height:32px;}
.wboapp-list .wboapp-body{height:auto;line-height:24px;}

.carNum-card{line-height:48px;position:relative;box-shadow:0 1px 2px rgba(0,0,0,.24);margin-bottom:16px;}
.carNum-card .btn{position:absolute;right:0;top:0;z-index:1;
border-left:1px solid rgba(0,0,0,.08);padding:12px 20px;
color:#d32f2f;
font-size:17px;
}
.carNum-card .number{display:block;font-size:31px;padding-left:8px;}
.wbo-desc{margin:32px 0 24px;}


.orderitem small,.orderitem span{float:right;font-size:14px;font-weight:400;color:#999;}
.orderitem span{color:#d00;}
.orderitem .odnum{font-size:14px;color:#999;}





















#wboKeyboard{position:fixed;bottom:0;left:0;right:0;z-index:1000;display:none;background:#eee;box-shadow:0 -2px 4px rgba(0,0,0,.24);padding:0 0 4px;width:100%;}
#wboKeyboard .keytop{background:#fff;margin-bottom:2px;padding-top:4px;height:40px;line-height:40px;}
#wboKeyboard .keytop span{font-size:19px;margin-left:10px;}
#wboKeyboard .close{float:right;display:block;width:32px;height:32px;margin:4px;line-height:32px;text-align:center;font-size:32px;font-weight:300;color:#ccc;}
#wboKeyboard .weui-flex__item.fbox2{-webkit-box-flex:2;-webkit-flex:2;flex:2;}
#wboKeyboard .btn{background-color:#fff;margin:2px;padding:4px;border:1px solid #fff;border-radius:4px;box-shadow:0 1px 2px rgba(0,0,0,.09);font-size:16px;color:#424242;text-align: center;}
#wboKeyboard .btn_line{border-color:#039be5;color:#039be5;}
#wboKeyboard .btn_remove{color:#f44336;}
#wboKeyboard .btn_primary{background-color:#039be5;border-color:#0289cc;color:#fff;}

